0. Python Data Structure

https://docs.python.org/3/library/stdtypes.html#typesseq

- Strings manipulation: indexing/slicing operations
- Sequence types:
    - Lists: [] or list(), mutable, homogeneour items 
    - Tuples:() or tuple(), immutable, (A tuple consists of a number of values separated by commas, for instance:)
    - Range: immutable sequence of numbers for looping

- Sets: set() to create empty sets: an unordered collection with no duplicate elements
- Dictionaries: {} to create empty dict:  Unlike sequences, which are indexed by a range of numbers, dictionaries are indexed by keys, which can be any immutable type; It is best to think of a dictionary as a set of key: value pairs, with the requirement that the keys are unique (within one dictionary).

In [36]:
# list/set/dictionary: comprehension 
# squares = [x**2 for x in range(10)]
# squares

#set1 = {x for x in 'abracadabra'}
# set2 = {x for x in 'abracadabra' if x not in 'abc'}
#set1

# dict1 = {x: x**2 for x in (2, 4, 6)}
# dict1

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

1. Tuples

In [15]:
tupple111 = 12345, 54321, 'hello!'
tupple111[0]

empty = ()
len(empty)
singleton = 'hello',
len(singleton)
singleton

#  Note that multiple assignment is really just a combination of tuple packing and sequence unpacking.
# Tuple packing
t = 12345, 54321, 'hello!'
t 

# Tuple unpacking
x, y, z = t
x

12345

2. Lists

In [11]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
print(fruits.count('apple'))
print(fruits.index('banana'))
print(fruits.index('banana', 4))
fruits.reverse()
fruits
fruits.sort()
fruits

2
3
6

'pear'

In [13]:
# list as stack: last in, first out

stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack
stack.pop()
stack
# stack.pop()
# stack

[3, 4, 5, 6]

In [13]:
# del statement
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]

del a[2:4]
a

[1, 66.25, 1234.5]

In [38]:
list1 = list()
list1.append(1)
list1.append(2)
list1

[1, 2]

In [15]:
# list as queue: first in, first out

from collections import deque
queue = deque(["Eric", "John", "Michael"])
queue.append("Terry")
queue.appendleft("Peter")
queue           # Terry arrives
queue.append("Graham")          # Graham arrives
queue.popleft()                 # The first to arrive now leaves                 # The second to arrive now leaves
queue                           # Remaining queue in order of arrival

deque(['Eric', 'John', 'Michael', 'Terry', 'Graham'])

In [9]:
# List Comprehensions

# list of tuples
listOftubples = [(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]
listOftubples

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [12]:
# Nested List Comprehension
matrix = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12],
]

transposed = [[row[i] for row in matrix] for i in range(4)]
transposed

# more complex one:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])

transposed

# most complex one:
transposed = []
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

transposed

# or Use the built-in function zip
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

3. Sets:  A set is an unordered collection with no duplicate elements. Basic uses include membership testing and eliminating duplicate entries. Set objects also support mathematical operations like union, intersection, difference, and symmetric difference.

In [28]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)   # show that duplicates have been removed

'orange' in   basket   

a = set('abracadabra')
b = set('alacazam')
a

{'orange', 'apple', 'banana', 'pear'}

{'a', 'b', 'c', 'd', 'r'}

4. Dictionaires

In [19]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

del tel['sape']
tel

list(tel)
tel

{'jack': 4098, 'guido': 4127}

5. lambda, functions, map(): apply functions to data structure

In [4]:
# define the one-line function
fun1 = lambda x: x**2

# appy the function to the data
map1 = map(fun1,  range(10))

# convert the map object to a list  
list2 = list(map1)
list2

# or in one line with lambda function
squares1 = list(map(lambda x: x**2, range(10)))
squares1

# or even simpler with list comprehension: consists of brackets containing an expression followed by a for clause, then zero or more for or if clauses
squares2 = [x**2 for x in range(10)]
squares2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [6]:
combs =[(x, y) for x in [1,2,3] for y in [3,1,4] if x != y]
combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

In [7]:
combs = []
for x in [1,2,3]:
    for y in [3,1,4]:
        if x != y:
            combs.append((x, y))

combs

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]

6. Looping technique:

- When looping through dictionaries, the key and corresponding value can be retrieved at the same time using the items() method.
- When looping through a sequence, the position index and corresponding value can be retrieved at the same time using the enumerate() function.
- To loop over two or more sequences at the same time, the entries can be paired with the zip() function.

In [20]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [21]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [22]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [23]:
# To loop over a sequence in reverse, first specify the sequence in a forward direction and then call the reversed() function.

for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [24]:
# To loop over a sequence in sorted order, use the sorted() function which returns a new sorted list while leaving the source unaltered.

basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

In [25]:
# Using set() on a sequence eliminates duplicate elements. The use of sorted() in combination with set() over a sequence is an idiomatic way to loop over unique elements of the sequence in sorted order.

basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [26]:
# t is sometimes tempting to change a list while you are looping over it; however, it is often simpler and safer to create a new list instead.

import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)

filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

6. Operatiors:

- in and not in are membership tests 
- is and is not compare whether two objects are really the same object
- a < b == c tests whether a is less than b and moreover b equals c
- (A and (not B)) or C. As always, parentheses can be used to express the desired composition.